body {
    margin: 64px 199px;
}


#main {

    width: 626px;
    height: 486px;
    margin: auto;

   
    display: flex;
    flex-direction: column;
    text-align: center;
  
    
    
    

    border: 1px solid red;
}

img {
    
    width: 350px;
    height: 238px;
    margin: auto;

    display: block;
}

h1 {

    color: #3f3d56;
    font-weight: 500;
    font-size: 32px;
    line-height: 40.45px;
    font-family: "Dosis", sans-serif;
    
    
    
}

#destino {

    color: #ee24ff;
}    

 p {
    color: #828282;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    
   
}



#pacotes {

    color: #3f3d56;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;

}

#flutuar {
    
    color: #828282;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    
}

